#root {
  margin: 0 auto;
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
}

.canvas {
  cursor: grab;
  background-color: rgb(185, 192, 192);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.canvas:active {
  cursor: grabbing;
}

.node circle.highlight {
  stroke-width: 3px;
  fill: orange;
}

.node text {
  font: 12px sans-serif;
}

.link.highlight {
  stroke: orange;
  stroke-width: 5px;
}

.treeChart {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(77, 207, 207);
}