.node circle.highlight {
    stroke-width: 3px;
    fill: orange;
}

.node text {
    font: 12px sans-serif;
}


.link.highlight {
    stroke: orange;
    stroke-width: 5px;
}

#d3-container {
    height: 100vh;
    width: 100vw;
    background-color: #cccccc;
}

html,
body {
    margin: 0;
    padding: 0;
}